body {
    background-color: aliceblue;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 10px;
}
h1 {
    color: brown;
}
.btn {
    color: black;
    background-color: gray;
}